<app-header></app-header>
<app-navbar></app-navbar>
<body class="container">
    <div id="content">
        <img src="assets/image/imagem-coruja.png" alt="a imagem de uma coruja para a pagina abut" id="imageCoruja"/>
        <h1 id="tituloInstitucional">Oque é o portal Nova Sat?</h1>
        <p>O Portal Nova Sat é uma plataforma de treinamento para melhorar as boas praticas no
          angular, e ficar mais familiarizado com o projeto da empresa. Criado por Helio Fagundes,
          Novo estagiário do MPRJ (Ministério Público do Rio de Janeiro) que esta sempre buscando aprender mais e contribuir com a empresa.
          Feito exclusivamente com Typescript, Angular e css. O objetivo deste projeto foi aprender a framework angular, para que eu possa estar pronto para colaborar nos projetos da empresa.</p>
    </div>
</body>
