.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 60%;
  margin-left: 20%;
  text-align: center;
  transition: var(--transition-normal);
}

#content {
  text-align: center;
  min-width: 350px;
}

#imageCoruja {
  transition: var(--transition-normal);
}

#tituloInstitucional {
  margin-top: -50px;
  color: var(--color-primary);
}

@media (max-width: 1040px) {
  #imageCoruja {
    width: 450px;
    height: 450px;
  }
}

@media (max-width: 940px) {
  #imageCoruja {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 720px) {
  .container {
    grid-template-columns: 80%;
    margin-left: 0;
    transition: var(--transition-normal);
  }
}
