app-widget{
  border: 1px solid black;
}

.dashboard-widgets{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px));
  grid-auto-rows: 150px;
  gap: 16px;

}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

h2{
  padding-left:20px;
}
