.conteiner{
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 96%;
  justify-content: center;
  padding-top: 80px;
}

#content{
  background-color: rgb(250, 250, 250);
  justify-content: center;
  border-radius: 5px;
  border: 1px solid gray;
  margin-top: 10px;
  padding-left: 10px;
}

#formulario{
  margin-bottom: 80px;
}

#input{
  border-radius: 10px;
  width: 40%;
  height: 30px;
  margin-bottom: 15px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
  border: 2px solid green;
}

.error-message p {
  color: red;
  font-size: 12px;
  margin: -8px 0 10px 4px;
}

#buttonBackTheHome{
  color: darkcyan;
  height: 30px;
  width: 80px;
  text-align: center;
}

#buttonBackTheHome:hover{
  background-color: lightgray;
  cursor: pointer;
  border-radius: 20px;
  width: 90px;
  height: 30px;
}

#buttonCreateCard{
  background-color: coral;
  color: white;
  height: 40px;
  width: 100px;
  text-align: center;
  border-radius: 15px;
  margin-top: 20px;
  cursor: pointer;
}

#buttonCreateCard:hover{
  background-color: rgb(248, 110, 60);
}

#textArea{
  border-radius: 10px;
  width: 40%;
  height: 100px;
  margin-bottom: 15px;
}

#fileDocuments{
  margin-bottom: 15px;
}
