.container{
  display: grid;
  justify-content: center;
  grid-template-columns: 50%;
  margin-left: 20%;
  height: 80%;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

#content{
  margin-top: 100px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#title{
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  color: coral;
}

#textHelpContact{
  width: 90%;
  transform: translateX(5%);
  margin-bottom: 50px;
}

#formGroup{
  width: 90%;
  transform: translateX(5%);
  margin-bottom: 20px;
  text-align: start;
}

#name, #email, #message{
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

#name, #email{
  height: 40px;
}

#buttonSubmit{
  background-color: coral;
  color: white;
  transform: translateX(6%);
  width: 90%;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}

#buttonSubmit:hover{
  background-color: rgb(248, 110, 60);
  border: 1px solid black;
}

@media (max-width: 1100px) {
  .container{
    grid-template-columns: 70%;
  }
}

@media (max-width: 820px) {
  .container{
    grid-template-columns: 80%;
  }
}

@media (max-width: 720px) {
  .container{
    grid-template-columns: 70%;
    margin-left: 0%;
  }
}

@media (max-width: 500px) {
  .container{
    grid-template-columns: 80%;
    margin-left: 0%;
  }
}
