.home-container {
  display: flex;
  min-height: 100vh;
  background-color: var(--background-light);
}

.content-area {
  display: flex;
  width: 100%;
}

.content {
  padding-left: 250px;
}


app-sidebar {
  width: 250px;
  flex-shrink: 0;
}

app-header {
  width: 100%;
  flex-shrink: 0;
}

.logo {
  width: 200px;
  margin-top: 20px;
}

.texto-vindas {
  padding: 25px;
}


@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }

  .content-area {
    flex-direction: column;
  }

  app-sidenav {
    width: 100%;
    height: auto;
  }
}