.home-container{
  display: flex;
  min-height: 100vh;
  background-color: #e7dede;
}

.area-conteudo {
  display: flex;
  width: 100%;
}

.conteudo {
  display: flex;
  flex-direction: column;
  padding: 20px;
}


app-sidebar {
  width: 250px;
  flex-shrink: 0;
}

.conteudo .card {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

app-card {
  padding: 30px;
}

.logo {
  width: 200px;
  margin-top: 20px;
}

.texto-vindas {
  padding: 25px;
}
