<div class="sidebar-container">

  <button (click)="toggleSidebar()" class="toggle-button">
    {{isOpened ? '' : ''}}
  </button>

<div *ngIf="isOpened" class="sidebar-content">
  <div class="logo-sidebar">
    <img class="logo" src="assets/documentoslogo.png" alt="logo" >
  </div>
  <h3>Navegação</h3>
  <div class="sidebar-links">
  <ul>
    <li>
      <a href="#">Início</a>
    </li>

     <li>
      <a href="/dashboard">Dashboard</a>
    </li>

     <li>
      <a href="#">Configurações</a>
    </li>
  </ul>
  </div>
<router-outlet/>
</div>

</div>

