.container {
  display: grid;
  grid-template-columns: minmax(500px, 40%);
  justify-content: center;
  text-align: center;
  height: 80%;
  margin-left: 20%;
  transition: var(--transition-normal);
}

.contentExternal {
  background-color: var(--color-white);
  border: var(--border-thin);
  align-items: center;
  border-radius: var(--radius-lg);
  margin-top: 150px;
}

.containerContent {
  display: grid;
  grid-template-columns: minmax(150px, 35%) minmax(150px, 35%);
  grid-template-rows: minmax(150px, 35%) minmax(150px, 35%);
  justify-content: center;
  margin-top: 100px;
  gap: 1px;
}

#navContent {
  display: flex;
  border: var(--border-thin);
  width: 100%;
  height: 100%;
  box-shadow: var(--shadow-sm);
  transition: var(--transition-normal);
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--color-gray-100);
  color: var(--text-color);
}

#navContent:hover {
  background-color: var(--color-primary);
  transform: translateY(-3px) translateX(-3px);
  width: 102%;
  height: 102%;
}

@media (max-width: 767px) {
  .container {
    margin-left: 0;
    grid-template-columns: minmax(400px, 40%);
  }
}
