<app-header></app-header>
<app-navbar></app-navbar>

<div class="container">
  <div class="contentExternal">
    <h1>Usuários</h1>
    <div class="containerContent">
    <nav id="navContent" (click)="postAdicionarUsuarios()" >
      <h2>Adicionar</h2>
    </nav>
    <nav id="navContent" (click)="getListaUsuarios()">
      <h2>Listar</h2>
    </nav>
    <nav id="navContent">
      <h2>Editar</h2>
    </nav>
    <nav id="navContent">
      <h2>Deletar</h2>
    </nav>
  </div>
  </div>
  <div *ngFor = "let users of listaUsuarios">
    <p>{{users.name}}</p>
  </div>
</div>
