.container{
  display: grid;
  grid-template-columns: minmax(500px, 40%);
  justify-content: center;
  text-align: center;
  height: 80%;
  margin-left: 20%;
  transition: all 0.3s ease-in-out;
}

.contentExternal{
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  align-items: center;
  border-radius: 15px;
  margin-top: 150px;
}

.containerContent{
  display: grid;
  grid-template-columns: minmax(150px, 35%) minmax(150px, 35%);
  grid-template-rows: minmax(150px, 35%) minmax(150px, 35%);
  justify-content: center;
  margin-top: 100px;
  gap: 1px;
}

#navContent{
  display: flex;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
}


#navContent:hover{
  background-color: coral;
  transform: translateY(-3px);
  transform: translateX(-3px);
  width: 102%;
  height: 102%;
}

@media (max-width: 767px) {
  .container{
    margin-left: 0;
    grid-template-columns: minmax(400px, 40%);
  }
}
