.container{
  display: grid;
  grid-template-columns: minmax(500px, 40%);
  justify-content: center;
  text-align: center;
  height: 80%;
  margin-left: 20%;
  transition: all 0.3s ease-in-out;
}

.contentExternal{
  background-color: rgb(224, 224, 224);
  border: 1px solid black;
  align-items: center;
  border-radius: 15px;
  margin-top: 150px;
}

.containerContent{
  display: grid;
  grid-template-columns: minmax(150px, 35%) minmax(150px, 35%);
  grid-template-rows: minmax(150px, 35%) minmax(150px, 35%);
  justify-content: center;
  margin-top: 100px;
  gap: 1px;
}

#navContent{
  border: 1px solid black;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ease-in-out;
}

#navContent:hover{
  background-color: aqua;
  transform: translateY(-3px);
  transform: translateX(-3px);

  width: 102%;
  height: 102%;
}
