.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin-left: 260px;
  padding: 20px;
  margin-top: 80px;
  transition: margin-left 0.3s ease-in-out;
}

.card {
  background: white;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: start;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease-in-out;
}

#colorInCard{
  height: 2px;
  background-color: coral;
}

#numberPaIc{
  margin-bottom: 30px;
  background-color: #d7d7d7;
  border-radius: 10px;
  width: 190px;
}

#objective{
  font-weight: bold;
  margin-bottom: -15px;
}

#description{
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: -15px;
}

#notHaveCards{
  display: grid;
  justify-content: center;
  grid-template-columns: 60%;
  margin-left: 20%;
  text-align: center;
  margin-top: 130px;
  transition: margin-left 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .cards-container {
    margin-left: 0;
    grid-template-columns: 1fr;
  }

  #notHaveCards{
    grid-template-columns: 80%;
    margin-left: 0;
  }
}

